.uk-modal-container {
    z-index: 9999 !important;
}




#filemanager-modal {

    .uk-close {
        padding: 8px;
        background-color: #d13232;
        color: #fff;
        transition: all .1s ease;
        position: relative;
        top: 0;
        right: 0;
        border-radius: 3px;
        box-sizing: border-box;
        margin-left: 10px;
        width: 39px;
        height: 39px;

        svg {width: 12px;}

        &:hover {
            background-color: #ad2c2c;
            color: #ffffff;
        }
    }

    #filemanager-toolbar {
        position: fixed;
        z-index: 999;
        width: calc(100% - 60px);
        left: 50%;
        transform: translateX(-50%);

        button.uk-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
        }
    }

    #fl-modal-data {
        width: 101.2%;
        height: 90%;
        // min-height: 60vh;
        // max-height: 70vh;
        overflow-x: auto;
        position: relative;
        top: 70px;
        padding: 30px 0;
    }

    &.fl-fullscreen {
        .uk-modal-dialog {
            width: 100%;
            height: 100%;
        }
    }

    &.uk-modal {
        background: rgba(0, 0, 0, 0.78) !important;
        backdrop-filter: blur(5px);
    }

    .uk-modal-dialog {
        height: 100%;
        // min-height: 70vh;
        padding-bottom: 107px;
        overflow: clip;
    }


    // Items grid container
    #filemanager {

        input.uk-checkbox {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .uk-button {
        font-size: 12px;
        text-transform: math-auto;
        padding: 0 15px;

        .uk-icon {
            position: relative;
            // top: -1px;
        }

        &#fl-insert-button {
            padding-left: 10px;
            // .uk-icon {
            //     left: 3px;
            // }
        }

        &#fl-download-selected {
            // .uk-icon {
            //     left: 2px;
            // }
        }

        &#fl-remove-selected.active {
            background-color: #d13232 !important;
            border-color: #d13232 !important;
        }
    }














    /* -----------------------------
    Switch */

    .uk-switch {
        position: relative;
        display: inline-block;
        height: 25px;
        width: 45px;
    }

    /* Hide default HTML checkbox */
    .uk-switch input {
        display:none;
    }
    /* Slider */
    .uk-switch-slider {
        background-color: rgba(0,0,0,0.22);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 500px;
        bottom: 0;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: .2s;
        box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
    }
    /* Switch pointer */
    .uk-switch-slider:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 21px;
        height: 21px;
        left: 2px;
        bottom: 2px;
        border-radius: 50%;
        transition-property: transform, box-shadow;
        transition-duration: .2s;
    }
    /* Slider active color */
    input:checked + .uk-switch-slider {
        background-color: #39f !important;
    }
    /* Pointer active animation */
    input:checked + .uk-switch-slider:before {
        transform: translateX(20px);
    }

    /* Modifiers */
    .uk-switch-slider.uk-switch-on-off {
        background-color: #f0506e;
    }
    input:checked + .uk-switch-slider.uk-switch-on-off {
        background-color: #32d296 !important;
    }

    /* Style Modifier */
    .uk-switch-slider.uk-switch-big:before {
        transform: scale(1.2);
        box-shadow: 0 0 6px rgba(0,0,0,0.22);
    }
    .uk-switch-slider.uk-switch-small:before {
        box-shadow: 0 0 6px rgba(0,0,0,0.22);
    }
    input:checked + .uk-switch-slider.uk-switch-big:before {
        transform: translateX(26px) scale(1.2);
    }

    /* Inverse Modifier - affects only default */
    .uk-light .uk-switch-slider:not(.uk-switch-on-off) {
        background-color: rgba(255,255,255,0.22);
    }






}

#fl-select-all-button {
    .check, .uncheck {display: none;}
    .check.active, .uncheck.active {
        display: inline-block;
    }
}

.uk-lightbox {
    z-index: 10000 !important;
}

.fl-item-dir {
    cursor: pointer;
    user-select: none;
    background: url(../images/system_images/file_manager/folder.svg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.fl-item-audio {
    cursor: pointer;
    user-select: none;
    background: url(../images/system_images/file_manager/icons8-audio-file-96.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.fl-item-video {
    cursor: pointer;
    user-select: none;
    background: url(../images/system_images/file_manager/mpg-svgrepo-com.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.fl-item-document {
    cursor: pointer;
    user-select: none;
    background: url(../images/system_images/file_manager/icons8-document-96.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.fl-item-archive {
    cursor: pointer;
    user-select: none;
    background: url(../images/system_images/file_manager/zip.png) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}


.fl-item {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 4px;
    font-size: 13px;
    text-align: left;
    align-items: flex-end;
    transition: all .2s ease;

    span {
        position: relative;
        top: 0;
        display: inline-block;
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

img.fl-item-image {
    object-fit: contain;
    object-position: center;
    background: #dfdfdf;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.uk-button {
    & > .uk-icon {
        position: relative;
        top: 0;
        // margin-right: 3px !important;
    }
}


.fl-directory-prompt {
    z-index: 9999;
}


.fl-background-success {
    background-color: #28a745!important;
    color: white !important;
    border: 1px solid #29a144 !important;

    &#fl-rename-item, &#fl-fullscreen-button {
        path {
            fill: white !important;
        }
    }
    
}







#fl-server-info {
    padding: 7px 10px;
    box-shadow: 1px -1px 25px rgba(0, 0, 0, .16);
    p {
        font-size: 12px;
    }
    
    .uk-progress {
        height: 6px;
    }
}





// Loading animation
#loading-animation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: #ffffff94;
    backdrop-filter: blur(8px);


    p {
        margin: 0;
        padding: 0;
        color: black;
        font-weight: bold;
        letter-spacing: .5px;
    }


    .spinner {
        width: 40px;
        height: 40px;
        background-color: #333;

        margin: 20px auto;
        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotateplane {
        0% { -webkit-transform: perspective(120px) }
        50% { -webkit-transform: perspective(120px) rotateY(180deg) }
        100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes sk-rotateplane {
        0% { 
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
        } 50% { 
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
        } 100% { 
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
}




#fl-compress-selected.active {
    svg {
        path {
            stroke: white;
        }
    }
}



#file-information-container {
    display: none;
    &.active {
        display: block;
    }
    position: fixed;
    left: 0;
    bottom: 30px;
    width: calc(100% - 26px);
    min-height: 23px;
    background: rgb(249 249 249 / 88%);
    backdrop-filter: blur(10px);
    padding: 10px 13px;
    color: black;

    li {padding: 4px 0 !important;}
    * {font-size: 11px;}
}




.uk-tooltip.uk-active {
    z-index: 99999;
}





#dom-loader-animation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #ffffff94;
    backdrop-filter: blur(8px);
    pointer-events: none;

    .spinner {
        width: 40px;
        height: 40px;
        background-color: #333;

        margin: 100px auto;
        -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
    }

    @-webkit-keyframes sk-rotateplane {
        0% { -webkit-transform: perspective(120px) }
        50% { -webkit-transform: perspective(120px) rotateY(180deg) }
        100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

    @keyframes sk-rotateplane {
        0% { 
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
        } 50% { 
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
        } 100% { 
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
    }
}



.tox-promotion-link {display: none !important;}
.tox-statusbar__branding {display: none !important;}